.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}
.jumbotron p.lead{
    margin-bottom: 0;
}
svg {
    margin-bottom: -50px;
}
#project{
    background-color: #e2edff;
}
section {
    padding-top: 5rem;
}